services:
  dev:
    image: asmacarma/cdc-pipeline-generator:latest
    hostname: cdc-generator-dev
    container_name: cdc-generator-dev
    volumes:
      - .:/workspace
      - ~/.ssh:/root/.ssh:ro
      - ~/.gitconfig:/root/.gitconfig:ro
    environment:
      PYTHONPATH: /workspace
    working_dir: /workspace
    stdin_open: true
    tty: true
    entrypoint: ""
    command: fish
    # No depends_on - dev container is standalone script runner
